.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
pepsico aop screenshot 2.png
pepsico_aop screenshot 1.png
rcgm screenshot1.png
rcgm screenshot2.png
rco screenshot 1.png
rco screenshot 2.png
